page-accueil {

	
	ion-card.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

.scroll-content{
    margin-bottom: 0px !important;
}
	
.pulseplay {
  -webkit-animation: pulsebottom 1.5s infinite;
}
	
.fab-md-danger {
  color: #fff;
  background-color: #29b7c2;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#29b7c2, .5);

}

.fab-md-danger.activated {
  color: #fff;
  background-color: #a7c6fd;
}





@-webkit-keyframes pulsebottom { 

  70% { 

    box-shadow: 0 0 0 50px rgba(#29b7c2, 0);

  }

  100% { 

    box-shadow: 0 0 0 0 rgba(#29b7c2, 0);

  }

}
	
}