page-accueil {

	
	ion-card.ng-enter-stagger {
  -webkit-animation-delay:200ms;
  animation-delay:200ms;

  /* override to make sure it's not inherited from other styles */
  -webkit-animation-duration:0;
  animation-duration:0;
}

	
	ion-card .item-inner {
		padding: 0px !important;
	}
	
	ion-card .item-inner .ion-label,
	ion-card .item-inner .label-md {
		 		padding: 0px !important;
			margin: 0px !important;
		    white-space: normal !important;
	}

	
}