<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" height="37" src="./assets/imgs/logo_radio.png" >
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding id="page6" #pageContent fullscreen>
 <ion-grid *ngIf='posts' no-padding>
        <ion-row no-padding> 
		 <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no-padding *ngFor="let post of posts" >
			 <ion-card no-padding style="margin-bottom:40px; border-bottom: 6px solid #f1f1f1;">
			<ion-card-content no-padding>
				<div style="position: relative;">	
					<span class="card_categorie">{{post.pure_taxonomies.categories[0].name}}</span>
					<img [src]="post.better_featured_image.source_url" />
				</div>
				<ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
			</ion-card-content>

			<ion-row>

			   <ion-col align-self-start>
				   <p class="date">{{post.date | date:'dd.MM.y'}}</p>
			   </ion-col>
			   <ion-col text-right align-self-start style="min-height:50px;">
					<ion-fab  top right edge #fab1 style="margin-top:20px;">
						<button mini ion-fab color="dark" ><ion-icon name="md-share"></ion-icon></button>
						<ion-fab-list side="top">
						  <button ion-fab (click)="openSocial('facebook', fab4)"><ion-icon name="logo-facebook"></ion-icon></button>
						  <button ion-fab (click)="openSocial('twitter', fab4)"><ion-icon name="logo-twitter"></ion-icon></button>
						  <button ion-fab (click)="openSocial('vimeo', fab4)"><ion-icon name="logo-vimeo"></ion-icon></button>
						  <button ion-fab (click)="openSocial('googleplus', fab4)"><ion-icon name="logo-googleplus"></ion-icon></button>
						</ion-fab-list>
					</ion-fab>
			  </ion-col>
			 </ion-row>
		  </ion-card>
                </ion-col>
</ion-row>
    </ion-grid>  <!--
  -->
    <ion-grid *ngIf='!posts'>
        <ion-row > 
		 <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 *ngFor='let fake of fakeUsers' class='fakeItem'>
			 <ion-card style="padding-left:0px; padding-right:0px; padding-bottom:10px;padding-top:10px;">
				<h2></h2>
				<h3></h3>
				<p></p>
			</ion-card>
          </ion-col>
</ion-row>
    </ion-grid>

</ion-content>
<ion-footer [scrollHide]="footerScrollConfig" [scrollContent]="pageContent"  style="">
   <ion-grid style="max-height: 110px;">
      <ion-row align-items-center>
        <ion-col col-2 style="max-width: 80px; text-align: center;" justify-content-center> 
                <ion-icon class="icon-circle" (click)="startAudio()" [name]="buttonIcon" id="btPlayer"></ion-icon>
            
        </ion-col>
                 
        <ion-col col-7>
            <span style="color:#000;font-family: 'Days One', sans-serif; font-size: 11px; background-color: crimson;" id="songStation">&nbsp;ONE FM&nbsp;</span><br>
            <span style="color:#000;font-family: 'Days One', sans-serif; font-size: 11px;" id="songTitle">&nbsp;</span><br><span style="color:#000;font-family: 'Days One', sans-serif; font-size: 11px;" id="songArtist">&nbsp;</span>
        
          </ion-col>
        <ion-col col-3  style="text-align: right;">
          <img id="songCover" src="https://www.onefm.ch/wp-content/themes/mog-child/webradios/0.jpg" style="-webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 12px px rgba(0,0,0,0.75);
box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75); max-height: 90px;" />
        </ion-col>
      </ion-row>
    </ion-grid> 
</ion-footer>